* {
  margin: 0rem;
  padding: 0rem;
  border: 1px solid black;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #27282B;
}
  
@import {
  url('http://fonts.cdnfonts.com/css/bahnschrift');
  font-family: 'Bahnschrift', sans-serif;
}

.brand {
  text-align: left;
  padding: 0rem 1rem;
  font-family: 'Bahnschrift', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'Bahnschrift';
  list-style-type: none;
  text-decoration: none;
  /* Hvorfor skal noget af det her i nav ul frem for nav ul li a? */
}

.nav ul li a {
 padding: 0rem 1rem; 
  color: white;
}

/* COVER */

.cover-container {
  background-color: #E3CD26;  
}

.cover-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas: 
  "cover-img cover-heading"
  "cover-img cover-info";
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  color: white;
}

.cover-img {
  grid-area: cover-img;
}

.cover-heading {
  grid-area: cover-heading;
}

.cover-info {
  grid-area: cover-info;
}

/* ABOUT */

.about-container {
  background-color: #0174CC;  
}

.about-wrap {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  color: white;
}

.about-two {
  text-align: right;
}

/* CITAT */

.citat-container {
  background-color: #0174CC;  
}

.citat-wrap {
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  text-align: center;
  font-family: 'Bahnschrift';
  color: white;
}

/* COLLAB */

.collab-container {
  background-color: #0174CC;  
}

.collab-wrap {
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  text-align: center;
  color: white;
}

.collab-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* Hvordan får jeg lavet plads mellem de to ikoner? */
}

.CH-icon {
  padding: 1rem;
}

.FIUK-icon {
  padding: 1rem;
}

/* PORTFOLIO */

.portfolio-container {
  background-color: #0174CC;
  /* Hvordan laver man en gradient?   */
}

.portfolio-wrap {
  
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  text-align: center;
  color: white;
}

.portfolio-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  grid-template-areas: 
  "produkt1 produkt2"
  "produkt3 produkt4"
  "produkt5 produkt6";
}

.produkt1 {
grid-area: produkt1;
}

.produkt2 {
grid-area: produkt2;
}

.produkt3 {
grid-area: produkt3;
}

.produkt4 {
grid-area: produkt4;
}

.produkt5 {
grid-area: produkt5;
}

.produkt6 {
grid-area: produkt6;
}

/* ACTION */

.action-container {
  background-color: #008F00;  
}

.action-wrap {
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  text-align: center;
  color: white;
} 

.action-wrap p {
  margin: 2rem 0rem;
}

/* CONTACT */

.contact-container {
  background-color: #008F00;
}

.form {
  justify-content: center;
  align-items: center;
  font-family: 'Bahnschrift';
}

input[type=text], select, textarea {
  width: 50%;
  padding: 1rem;
  border: 1px solid #27282B;
  border-radius: 2rem; 
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: none;
}

input[type=submit] {
  background-color: #007000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-wrap {
  border-radius: 5px;
  padding: 20px;
}

