* {
  margin: 0rem;
  padding: 0rem;
  border: 1px solid black;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #111;
}
  
@import {
  url('http://fonts.cdnfonts.com/css/bahnschrift');
  font-family: 'Bahnschrift', sans-serif;
}

.brand {
  text-align: left;
  padding: 0rem 1rem;
  font-family: 'Bahnschrift', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'Bahnschrift';
  list-style-type: none;
  text-decoration: none;
  /* Hvorfor skal noget af det her i nav ul frem for nav ul li a? */
}

.nav ul li a {
 padding: 0rem 1rem; 
  color: white;
}

/* COVER */

.cover-container {
  background-color: #E3CD26;  
}

.cover-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas: 
  "cover-img cover-heading"
  "cover-img cover-info";
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  color: white;
}

.cover-img {
  grid-area: cover-img;
}

.cover-heading {
  grid-area: cover-heading;
}

.cover-info {
  grid-area: cover-info;
}

/* ABOUT */

.about-container {
  background-color: #0174CC;  
}

.about-wrap {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  color: white;
}

.about-two {
  text-align: right;
}

/* CITAT */

.citat-container {
  background-color: #0174CC;  
}

.citat-wrap {
  justify-content: center;
  align-items: center;
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  text-align: center;
  color: white;
}

/* COLLAB */

.collab-container {
  background-color: #0174CC;  
}

.collab-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas: 
  "cover-img cover-heading"
  "cover-img cover-info";
  padding: 14rem 4rem;
  width: 50%;
  margin: auto;  
  font-family: 'Bahnschrift';
  color: white;
}

.collab-heading {
  grid-area: collab-heading;
}

.collab-icons {
  grid-area: collab-icons;
}

.CH-icon {
  grid-area: CH-icon;
}

.FIUK-icon {
  grid-area: FIUK-icon;
}